[package]
name = "worker"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
platform = { path = "../../crates/platform" }
tokio.workspace = true
tracing.workspace = true
